<p id="notice"><%= notice %></p>

<h1>Listing Chaptertitles</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chaptertitles.each do |chaptertitle| %>
      <tr>
        <td><%= chaptertitle.content %></td>
        <td><%= link_to 'Show', chaptertitle %></td>
        <td><%= link_to 'Edit', edit_chaptertitle_path(chaptertitle) %></td>
        <td><%= link_to 'Destroy', chaptertitle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chaptertitle', new_chaptertitle_path %>
